################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ZusystechWebsite
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/tasks.vs.json
